.App {
  text-align: center;
}

.CatCard {
  background-color: green;
  border: solid;
  
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;

}

ul#horizontal-list li {
	display: inline;
	padding: 10px;
}